<html>
	{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}
		</header>

		{% block title %}{% endblock %}

		{% block body %}
			<h1>Editer un article</h1>

			{{ include('article/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

			<a href="{{ path('article') }}">Retourner à la liste</a>

			{{ include('article/_delete_form.html.twig') }}
		{% endblock %}

	</body>
</html>
