

{% block title %}{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>

    {{ include('article/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('article') }}">Retourner à la liste</a>
{% endblock %}
