<h1>Bonne nouvelle vous pouvez réinitialiser votre mot de passe</h1>

<p>Pour réinitialiser votre mot de passe merci de cliquer sur le lien suivant: </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Attention ce lien expira dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Santé !</p>
