{% extends 'base.html.twig' %}

{% block title %}Ajout d'une note | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Ajout d'une note</h1>
    <p>Nouvelle note pour {{ eleve.getDisplayedName() }}.</p>
    {{ form(formulaire) }}
{% endblock %}