{% extends 'gabarit_liste.html.twig' %}

{% block thead %}
	<th>Nom</th>
{% endblock %}

{% block tbody %}
	{% for matiere in matieres %}
		<tr>
			<td>{{ matiere.nom }}</td>
			<td>
				<a class="btn btn-danger" href="{{ path('delete_note', {id: note.id}) }}" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?')">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}