<html>
	{% include 'head.html' %}
	<body class="users-card">

		<header>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>


			{% include 'nav.html.twig' %}
		</header>

		{% block body %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{message}}
				</div>
			{% endfor %}
			<div class="card d-block w-100" style="width: 45rem;">
				<div class="card-body">
					<div>
						<h5 class="card-title text-center">Modification du mot de passe de
							{{ app.user.prenom }}
							{{ app.user.nom }}</h1>
						<form action="" method="post">
							<div class="form-field">
								<label for="pass">Mot de passe:</label>
								<input type="password" id="pass" name="pass" class="form-control rounded-1"/>
							</div>
							<div class="form-field">
								<label for="pass2">Confirmer le mot de passe:</label>
								<input type="password" id="pass2" name="pass2" class="form-control rounded-1"/>
							</div>
							
								<button class="btn btn-sm btn-success">Envoyer</button>
							
						</form>
					</div>

				</div>
			</div>
		{% endblock %}

	</body>
</html>
