    <html>
	{% include 'head.html' %}
	<body class="users-card">

		<header>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
			

{% include 'nav.html.twig' %}
		</header>

    {% block body %}
    <div class="card" style="width: 45rem;">
					<div class="card-body">
    <div>
            <h5 class="card-title text-center">Modification du profil de
                {{ app.user.prenom }}
                {{ app.user.nom }}</h5>
            {{ form(form) }}
            </div>
{% endblock %}

</body>
</html>