<html>
	{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}

		</header>
		{% block body %}
			<h1 class="container py-4">Me contacter</h1>
			{{form(form)}}


		{% endblock %}


	</body>

</html>
