{% extends 'base.html.twig' %}

{% block title %}New Z5600{% endblock %}

{% block body %}
    <h1>Create new Z5600</h1>

    {{ include('z5600/_form.html.twig') }}

    <a href="{{ path('z5600_index') }}">back to list</a>
{% endblock %}
