<form method="post" action="{{ path('r_e_r_n_g_delete', {'id': r_e_r_n_g.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ r_e_r_n_g.id) }}">
    <button class="btn">Delete</button>
</form>
