<form method="post" action="{{ path('rerng_delete', {'id': rerng.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette rame ? ðŸ˜');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rerng.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
