{% include 'head.html' %}
<body>
{% block title %}{% endblock %}

{% block body %}
<div class="container">
<div class="form-group">

    <h1>Editer une rame</h1>

    

    {{ include('rerng/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
<div class="retournerliste">
    <a class="btn btn-secondary" href="{{ path('rerng') }}">Revenir à la liste</a>

</div>
    {{ include('rerng/_delete_form.html.twig') }}
    </div>
    
{% endblock %}

</body>


</html>
