#realisation{
    background-color: rgb(255, 255, 255);
}



li{
    list-style-type: none;
}

.navbar{
    padding: 20px !important;
}

.navbar-nav > li{
    margin-left:5px;
    margin-right:5px;
  }
  
#footer{
    background-color: rgb( 255, 193, 7);
    
    
    
}

.sidenav {
    background-color: #ffc107;
}



#faq{

    position:absolute;
    
    bottom:0;
    
    width:100%;
    
    padding-top:50px;
    
    height:200px;
    
    }


    #base{

        
        
        bottom:0px;
        
        width:100%;
        
        padding-top:50px;
        
        height:200px;

        
        
        }

input[id="email"]:invalid{
    border: 2px solid red;

}

input[id="email"]:valid{
    border: 2px solid green;

}

h1,p, article{
    font-family:'Times New Roman', Times, serif;
}

/* header{
    
    padding: 12px 20px;
    background-image: url("images/fond.jpg");
    image-rendering: -webkit-optimize-contrast;
    min-height: 60vh;
    display:flex;
    align-items: center;
    background-size: cover;
    background-position-y:center;
    
} */


#footfaq{
    
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:200px;
    align-items: center;
    
    
    }

   
      


    .container{
        font-family: 'Times New Roman', Times, serif;
    }

    main{
        margin: 0 12% 5px 12%;
        flex:1
    }
    
    /* Formulaire */

    form{
        width:100%;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
    }
    
#formsection{
    margin-bottom: 185px;
}

    input[type=email],input[type=file],input[type=password],textarea{
        width:100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=text]{
        width:100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      
    }
    
    input[type="email"]:invalid{
        border: 1px solid red;
    
    }
    
    input[type="email"]:valid{
        border: 1px solid green;
    
    }
    
    
    fieldset{
        border: 1px solid #ccc;
        margin-bottom: 8px;
    }

    tr{
        text-align: center;
    }
    
    .retournerliste{
        display: inline-block;
    }

    .containercard{
        padding: 12px 20px;
    }


    .reset-page-container{
        position: relative;
        width: 100%;
        height: calc(125vh - 90px);

    }


    .login-img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    
    .login-img img{
        width: 100%;
        height: calc(125vh - 90px);
        padding: 8% 5% ;
        margin: 0;
    }
    .login-form {
        padding: 8% 5% ;

    }
    
    .login-form form {
        width: 100%;
        margin-bottom: 0%;
        
    }

    #login-form {
        padding: 8% 5% ;
        position: relative;
        width: 100%;
        height: calc(125vh - 90px);
        
    }

    .form-login-register {
  background-color: antiquewhite;
  background-image:url('https://i.picsum.photos/id/1026/4621/3070.jpg?hmac=OJ880cIneqAKIwHbYgkRZxQcuMgFZ4IZKJasZ5c5Wcw');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 8% 5% ;
    }

.contact-form {
    padding: 8% 5% ;

}

.contact-form form {
    width: 100%;
    margin-bottom: 0%;
    
}

#contact-form {
    padding: 8% 5% ;
    position: relative;
    width: 100%;
    height: calc(125vh - 90px);
    
}

.form-contact {

color: white;
background-color: antiquewhite;
background-image:url('https://zupimages.net/up/22/01/q746.jpg');
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
padding: 8% 5% ;
  
}

.contact-page-container{
    position: relative;
    width: 100%;
    height: calc(125vh - 90px);

}

/* Partie card de la page de profil utilisateur */

.card {
    box-shadow: 0 15px 10px 0 rgba(0,0,0,.1), 0 10px 10px 0 rgba(0,0,0,.1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 5 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 8% 5% ;
    

    
}

.users-card {

    background: linear-gradient(to right, #a10f0f, #009FFF,#000000 );
}


