<form method="post" action="{{ path('realisation_delete', {'id': realisation.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette rame ? ðŸ˜');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
