<html>
{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}
            </header>

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Editer une photo</h1>
    <div class="form-group">

    {{ include('realisation/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
</div>
    <a class="btn btn-secondary" href="{{ path('realisation') }}">Retourner à la liste</a>

    {{ include('realisation/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}


</body>
</html>