<html>
{% include 'head.html' %}
<body>

<header>
{% include 'nav.html.twig' %}
</header>
{% block title %}{% endblock %}

{% block body %}
<div class="container">

    <h1>Ajouter une nouvelle photo</h1>
<div class="form-group">
    {{ include('realisation/_form.html.twig') }}
</div>
<div class="retournerliste">
    <a class="btn btn-secondary" href="{{ path('realisation') }}">Retourner à la liste</a>
    </div>
    </div>
{% endblock %}





</body>
</html>