<footer class=" text-center text-dark" id="footer">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb( 255, 193, 7);">
    © 2022 91xwriter - Alexandre Diakité - Tous droits réservés - 
    <a class="text-dark" href="{{ path('cgu') }}"> Mentions légales</a>
    <a href="https://www.instagram.com/91xwriter/"><img src="{{ asset('/insta3.png') }}" href="https://www.instagram.com/91xwriter/" class="my-6 mr-5 offset-1 " style="width: 40px;" alt="Logo Instagram"></a> 
  </div>
  <!-- Copyright -->
</footer>