<footer class=" text-center text-dark" id="footer">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>S'inscrire aux newsletters</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-dark mb-4">
              <input type="email" id="form5Example29" class="form-control" placeholder="Entrez votre adresse e-mail ici..." />
              <label class="form-label" for="form5Example29"></label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-dark mb-4 p-3">
              S'inscrire
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->
  <div class="offset-4 justify-content-center">
    <strong>Me suivre sur:</strong>
    </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb( 255, 193, 7);">
    © 2021 91xwriter - Alexandre Diakité - Tous droits réservés - 
    <a class="text-dark" href="{{ path('cgu') }}"> Mentions légales</a>
    <a href="https://www.instagram.com/91xwriter/"><img src="{{ asset('/insta3.png') }}" href="https://www.instagram.com/91xwriter/" class="my-6 mr-5 offset-1 " style="width: 40px;" alt="Logo Instagram"></a> 
  </div>
  <!-- Copyright -->
</footer>